@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,200&display=swap");

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #979f9b;
  background-color: black;
}
.navbar {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  justify-content: space-between;
}

.navbar a.active {
  color: #64ffda;
}
.navbar a:hover:not(.active) {
  color: #ffffff;
}

.name,
.nav-links,
a {
  text-transform: uppercase;
  color: #979f9b;
}
.topnav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topnav .nav-links,
a {
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}
.name {
  font-size: 25px;
}
.surname {
  color: #64ffda;
}
.dropdownLink {
  display: none;
}
.container {
  display: flex;
  gap: 40px;
  margin: 40px;
  justify-content: space-between;
}

footer {
  text-align: center;
}
.project {
  margin-top: 50px;
  border: 1px solid #ccd6f667;
  padding: 24px;
  border-radius: 8px;
  transition: box-shadow 200ms ease, transform 200ms ease;
  display: flex;
  gap: 50px;
  cursor: pointer;
}
.project:hover {
  transform: translate(4px, -4px);
  box-shadow: -4px 4px 0 #64ffda;
}
p {
  font-size: 20px;
}
img {
  width: 200px;
  height: 200px;
}
@media (max-width: 768px) {
  ul.topnav li a.nav-links {
    display: none;
  }
  ul.topnav li.dropdownLink {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  ul.topnav.responsive li.dropdownLink {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  ul.topnav.responsive {
    flex-direction: column;
    text-align: right;
  }

  ul.topnav.responsive li {
    position: relative;
    top: 30px;
    right: 30px;
  }

  ul.topnav.responsive li a.nav-links {
    display: block;
    line-height: 2;
  }
  .headshot {
    width: 100%;
    float: none;
    padding: 6rem 0;
  }
  .headshot-wrapper {
    width: 100%;
    float: none;
  }
}
